

.searchFilter{
   margin-top:80px;
}

.filterType{
   margin-top: 50PX;
}
.filterCategorie{
   margin-top: 50px;
}
.filterDate{
   margin-top:50px
}
.filterTime{
   margin-top:50px
}
.payementFilter{
   margin-top:20px;
}