#apppage .gradient {
    background: -moz-linear-gradient(
      45deg,
      rgba(42, 27, 161, 0.7),
      rgba(29, 210, 177, 0.7) 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      rgba(42, 27, 161, 0.7),
      rgba(29, 210, 177, 0.7) 100%
    );
    background: -webkit-gradient(
      linear,
      45deg,
      from(rgba(42, 27, 161, 0.7)),
      to(rgba(29, 210, 177, 0.7))
    );
    background: -o-linear-gradient(
      45deg,
      rgba(42, 27, 161, 0.7),
      rgba(29, 210, 177, 0.7) 100%
    );
    background: linear-gradient(
      45deg,
      rgba(42, 27, 161, 0.7),
      rgba(29, 210, 177, 0.7) 100%
    );
  }
  
 
  
  #apppage h6 {
    line-height: 1.7;
  }

  .IntroGuestTitle{
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
  
    font-weight: 900;
    font-size:3rem
  }
  .introGuestContainer{
   margin-bottom: 30%;
  }
  .buttonIntro{
    margin-left:20%;
    margin-top:8%;
  }