#typeRole{
border-radius: 10px;

}
.btnProfile{
    margin-top: 10%;
}

.profileContainer{
    display: flex;
    height:100vh;
}
.leftSection{
    padding:1%;
    
   
}
.rightSection{
   
   width:50%;

  
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.leftSectionBtn{
    margin-top: 15%;
    margin-left:15%;
}