


.carouselHomeUser{
   background-color: silver;
    padding:3.8%;
  
}
#titleSectionHomeUser2{

    
       margin-top:10%;
      
        color: #ffc93c;
        font-family: "Teko", sans-serif;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 900;
        font-size: 2rem;
        line-height: 4rem;
      
}
  