


.carouselHomeUser{
    background-image: url("https://i.pinimg.com/originals/5e/cf/6b/5ecf6bd8170f61a20560a7332d8c7b91.jpg");
    padding:3.8%;
   margin-top:5%;
  
}
#titleSectionHomeUser2{

    margin-top:10%;
}