.SectionGuest2 {
  margin-top: 10%;
  
}
.CardContainerGuest {
  position: relative;
}

.CardContainerGuest:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 90%
  );
  width: 80%;
  height: 10em;
  margin-left: 4%;
}

.titleSectionGuest2 {
  margin-bottom: 5%;
  margin-left: 7%;
}
.sectionGuest2Card {
  padding: 2%;
}
#titleSEctionAllEVENTS {
  margin-top: 10%;
  

  color: #ffc93c;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 2rem;
  line-height: 4rem;
}


#btnSectionAllEvents{
    margin-left:44%;
}

@media only screen and (max-width: 1200px) {
  #titleSEctionAllEVENTS {
    margin-top: 90%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 992px) {
  #titleSEctionAllEVENTS {
    margin-top: 115%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 768px) {
  #titleSEctionAllEVENTS {
    margin-top: 280%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 576px) {
  #titleSEctionAllEVENTS {
    margin-top: 280%;
    margin-bottom: 5%;
  }
  .sectionGuest2Card {
    padding: 10%;
  }
}
