.SectionGuest2{
    margin-top:10%;
}
.CardContainerGuest{
position: relative;
}

.CardContainerGuest:after{
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
                      rgba(255,255,255, 0), 
                      rgba(255,255,255, 1) 90%);
    width    : 80%;
    height   : 10em;
    margin-left:4%;
}
  
.titleSectionGuest2{
    margin-bottom: 5%;
    margin-left:7%;
}