.shadow-box-example {
    height: 120px;
    width: 100%;
    background-color: #bebebe62;
   
  }

  .SmallCard{
      border-radius: 50px;
  }
  .SmallCardImg{
    border-radius: 50px;
  }
  .CardTitle{
    height:20%;
  }